.title{
    text-align: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px #000000;
}

#submit_button{
    border-radius: 20px;
}

#id{
    cursor: not-allowed;
}

button:hover{
    background-color: #3498db;
}

#return_button{
    margin-left: 91%;
    border-radius: 20px;
}


