
.title{
    text-align: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px #000000;

}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    border-style: double;
}

.grid{
    border-style: double;
}

#add_movie1{
    border-radius: 20px;
}
#add_movie2{
    border-radius: 20px;
}
#submit_button{
    border-radius: 20px;
}

#dateSort{
    cursor: pointer;
}
#rateSort{
    cursor: pointer;
}
#nameSort{
    cursor: pointer;
}

.delete{
    margin-top: 15%;
    margin-left: 27%;
    border-radius: 20px
}
.edit{
    margin-left: 27%;
    border-radius: 20px
}
.addActor{
    margin-left: 27%;
    border-radius: 20px
}
.showActors{
    margin-left: 27%;
    border-radius: 20px
}
button:hover{
    background-color: #3498db;
}

.loader {
    left: 45%;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    z-index: 99 !important;
    top: 50%;
    position: absolute;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.navigation_bar {
    display: flex;
    justify-content: center;
}

.menu-bar {
    border-radius: 25px;
    height: fit-content;
    display: inline-flex;
    background-color: #181414;
    /*background-color: rgba(0, 0, 0, .4);*/
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    align-items: center;
    padding: 0 25px;
    margin: 0 0 0 0;
}

li {
    list-style: none;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    padding: 12px 16px;
    margin: 0 8px;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
}




