.title{
    text-align: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px #000000;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    border-style: double;
}

.grid{
    border-style: double;
}

#submit_button{
    border-radius: 20px;
}

a{
    color: black;
}

button:hover{
    background-color: #3498db;
}

#return_button{
    margin-left: 91%;
    border-radius: 20px;
}

.delete{
    margin-top: 15%;
    margin-left: 27%;
    border-radius: 20px
}